@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Grotesk', sans-serif;
}

:root{
    --verde-mais-escuro: #30372A;
    --verde-muito-escuro: #384332;
    --verde--escuro: #648363;
    --verde-menos-escuro: #919F78;
    --verde-meio-claro: #BECC90;
    --verde-clarinho: #C2C6AB;
    --creme-de-coco: #FAFAE1;
    --vermelha: rgb(250, 80, 80);
}

body{
    background-color: var(--creme-de-coco);
    height: 100vh;
}

header{
    text-align: center;
    color: var(--creme-de-coco);
    padding: 10px 0;
    background-color: var(--verde-mais-escuro);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 80px;
}

.tema{
    font-size: 1.5rem;
}

.none-1{
    display: none;
}

a{
    text-decoration: none;
}

.terminar-sessao{
    text-align: center;
    color: var(--creme-de-coco);
    padding: 5px 5px;
    border: 3px solid var(--creme-de-coco);
    border-radius: 10px 0;

}

.terminar-sessao:hover{
    color: var(--vermelha);
    padding: 5px 5px;
    border-color: var(--vermelha);
    border-radius: 0 10px;
    font-weight: 800;
}

.principal{
    text-align: center;
}

.boas-vindas{
    margin: 40px 0;
    color: var(--verde-mais-escuro);
}

.imagem-1{
    max-width: 600px;
    min-width: 200px;
    margin-bottom: 50px;
    border-radius: 10px 0;
}

.imagem-5{
    max-width: 500px;
    min-width: 200px;
    height: 400px;
    margin: 50px 0;
    border-radius: 10px 0;
}
.divisao-2, .divisao-3, .divisao-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 30px 30px;
}

.introducao{
    width: 50%;
    font-size: 2rem;
    color: var(--verde-muito-escuro);
}

.imagem-2, .imagem-3, .imagem-4, .imagem-6{
    max-width: 400px;
    min-width: 200px;
    border-radius: 10px 0;
    width: 50%;
}

.imagem-5{
    max-width: 400px;
    min-width: 200px;
    border-radius: 10px 0;
    width: 50%;
    height: 280px;
}

.divisao{
    width: 50%;
    font-size: 2rem;
    color: var(--verde--escuro);
}

.obs{
    color: var(--vermelha);
    font-size: 2rem;
    width: 50%;
}


.etapas{
    margin-bottom: 30px;
}

mark{
    background-color: var(--verde-clarinho);
    border-radius: 10px 0;
    font-weight: bold;
    color: var(--verde-mais-escuro);
    padding: 0 4px;
}

.divisao-6, .divisao-7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 10px 30px;
}

.divisao-7{
    margin-bottom: 60px;
}

span{
    background-color: var(--verde-mais-escuro);
    border-radius: 10px 0;
    font-weight: bold;
    color: var(--creme-de-coco);
    padding: 0 4px;
}

.etapas, .fase{
    font-size: 1.6rem;
    margin-top: 20px;
    color: var(--verde-menos-escuro);
}

.fase{
    width: 50%;
}

.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 60px;
}

.facilitadora{
    background-color: var(--verde-mais-escuro);
    border-radius: 10px 0; 
    padding: 10px 20px 30px 20px;
}

.escolha{
    font-size: 1.5rem;
    color: var(--verde-menos-escuro);
    margin-bottom: 20px;
}

.opcao-1, .opcao-2{
    padding: 5px 10px;
    border-radius: 10px 0;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid;
}

.opcao-1{
    background-color: var(--creme-de-coco);
    color: var(--verde--escuro);
    border-color: var(--creme-de-coco);
    margin-right: 20px;
}

.opcao-2{
    color: var(--creme-de-coco);
    border-color: var(--creme-de-coco);
}

.opcao-1:hover{
    background-color: var(--verde--escuro);
    color: var(--creme-de-coco);
    border-color: var(--verde--escuro);
}

.opcao-2:hover{
    color: var(--verde--escuro);
    border-color: var(--verde--escuro);
}

footer{
    color: var(--creme-de-coco);
    text-align: center;
    margin-top: 18px;
    padding: 10px;
    background-color: var(--verde-mais-escuro);
}

/* -------- Responsividade --------- */

@media screen and (max-width: 1021px) {
    .none{
        display: none;
    }
    .block{
        display: block;
    }
}

@media screen and (max-width: 713px) {
    .imagem-1{
        max-width: 300px;
        min-width: 200px;
        margin-bottom: 50px;
        border-radius: 10px 0;
    }

    .divisao-2, .divisao-3, .divisao-4{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .imagem-2, .imagem-3, .imagem-4, .imagem-6{
        margin: 20px 0;
    }

    .imagem-5, .imagem-6{
        display: none;
    }

    .fase{
        width: 100%;
    }

    .escolha{
        font-size: 0.9rem;
    }
    .opcao-1{
        font-size: 0.8rem;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .opcao-2{
        font-size: 0.8rem;
    }
    
    .col{
        display: flex;
        flex-direction: column;
    }
}